/* 背景样式 */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('images/1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 登录框样式 */
.login-container {
    background-color: rgba(0, 0, 0, 0.6);
    width: 600px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* 标题样式 */
h1 {
    color: white;
}

/* 输入框样式 */
.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.input-field::placeholder {
    font-weight: bold;
}

.input-field:focus {
    outline: none;
}

/* 按钮样式 */
.login-button {
    width: 80%;
    padding: 10px;
    background-color: lightblue;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* 提示信息样式 */
.error-message {
    color: red;
    display: none;
}
